<!DOCTYPE html>
<html lang="es">
    <head> 
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <main>
            <form id="report-print-form" action="/save_conf" method="POST">
                <table>
                {% for report in report_list %}
                    <tr>
                        <td class="report-name">
                            {{report}}
                        </td>
                        <td>
                            <select name="{{report}}">
                                {% for printer in print_list %}
                                <option value="{{printer}}">{{printer}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                {% endfor %}
                </table>
                <input id="submit_button" type="submit" value="GUARDAR">
            </form>
        </main>
    </body>
    <script>
        document.getElementById('report-print-form').addEventListener('submit',function(e){
            const button=document.getElementById('submit_button');
            e.preventDefault();
            const fields=this.elements;
            var data={};
            for(var id=0;id<fields.length;++id){
                field=fields[id];
                if(field.name){
                    data[field.name]=field.value;
                }
            }
            
            fetch('/save_conf',{
                method:'POST',
                headers:{
                    'Content-Type': 'application/json'
                },
                body:JSON.stringify(data)
            })
            .then(Response=>Response.json())
            .then(data=>{
                console.log('llegue bien ',data);
                button.style.backgroundColor='#6a994e'
            })
            .catch(error=>{
                console.log('error')
                button.style.backgroundColor='#bc4749'
            });
        

        })
        const sen_data = () =>{
            data={
                'name':'test.pdf'
            }
            fetch('/receive_message',{
                method:'POST',
                headers:{
                    'Content-Type': 'application/json'
                },
                body:JSON.stringify(data)
            })
            .then(Response=>Response.json())
            .then(data=>{
                console.log('llegue bien ',data);
            })
            .catch(error=>{
                console.log('error')

            });
        }
    </script>
</html>